body{
    background-color: #080E1F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.2em;
    text-align: center;
    color: #FDC52C;
}

header {
    background-color: #0E1B39; /* Azul oscuro del FC Barcelona */
    color: #ffffff;
    padding: 15px 0;
}

header .envoltorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.escudo img {
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li.activo a {
    background-color: #A50044; /* Granate del FC Barcelona */
}



footer {
    text-align: center;
    margin: 0;
    font-size: .9em;
    line-height: 2;
    clear: both;
    background-color: #181733;
    color: #FDC52C;
    width: 100%;
}

#info{
    width: 80%;
    margin: 0px auto;
    min-width: 650px;
    max-width: 960px;
    clear: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nosotros {
    width: 30%;
    background-color: #181733;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nosotros img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.nosotros h1 {
    font-size: 1.5em;
    color: #FDC52C;
}

section h2{
    color: #FDC52C;
    margin-top: 20px;
}

.caja{
    background-color: #181733;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px);
    float: left;
    text-align: left;
    color: white;
}

.caja img{
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 10px;
}

.texto{
    padding: 10px;
}

.texto h2{
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #FDC52C;
    margin-top: 5px;
}

.texto h3{
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
}

.numero{
    display: inline-block;
    background-color: #181733;
    color: #FDC52C;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: right;
}

.texto p{
    font-size: 0.9em;
    margin: 5px 0;
    color: white;
}
