@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #004D98, #A50044);
    color: #FFFFFF;
}

header {
    background-color: #0E1B39; /* Azul oscuro del FC Barcelona */
    color: #ffffff;
    padding: 15px 0;
}

header .envoltorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 42px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li.activo a {
    background-color: #A50044; /* Granate del FC Barcelona */
}

h1 {
    color: #ffffff;
}

section {
    margin: 20px auto;
    width: 80%;
}

h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table thead {
    background-color: #212121;
}

table thead th {
    padding: 10px;
    border: 1px solid #424242;
}

table tbody td {
    text-align: center;
    padding: 10px;
    border: 1px solid #424242;
}

tbody tr:nth-child(even) {
    background-color: #333333;
}

tbody tr:nth-child(odd) {
    background-color: #2C2C2C;
}

tbody tr:hover {
    background-color: #acacac;
}

footer {
    background-color: #A50044;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}