body {
    background: linear-gradient(to right, #004D98, #A50044);
    color: #ffffff;
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #0E1B39; 
    color: #ffffff;
    padding: 15px 0;
}

header .envoltorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #A50044; 
}

main {
    margin: 40px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: #444;
    margin-top: 20px;
}

thead th {
    background-color: #004D98;
    color: white;
    padding: 10px;
}

tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #DDD;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #acacac;
}

footer {
    background-color: #A50044;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.btn {
    background-color: #A50044;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #FDC52C;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    color: #000;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
