@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}

body {
    background: linear-gradient(to right, #004D98, #A50044);
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #0E1B39; 
    color: #ffffff;
    padding: 15px 0;
}

header .envoltorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li.activo a {
    background-color: #A50044; 
}

h1 {
    margin: 20px 0;
    font-size: 2.5em;
    color: #FFF;
}

#calendario {
    margin: 40px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: #444;
}

thead th {
    background-color: #004D98;
    color: white;
    padding: 10px;
    font-size: 1.2em;
}

tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #DDD;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #acacac;
}

footer {
    background-color: #A50044;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}