/* Estilo general */
body.formdatos {
    font-family: 'Arial', sans-serif;
    background-color: #004d98; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff; 
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
}

p {
    font-size: 20px;
    color: #A50044; 
    margin-bottom: 20px;
    font-weight: bold;
}

/* Estilo del botón */
#boton {
    background-color: #A50044; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#boton:hover {
    background-color: #8e0038; 
}

/* Responsivo */
@media (max-width: 600px) {
    form {
        width: 90%;
    }

    p {
        font-size: 18px;
    }

    #boton {
        font-size: 14px;
        padding: 8px 16px;
    }
}
