:root {
    --barca-blue: #004d98; 
    --barca-red: #a50044; 
    --barca-hover: #013777; 
  }

  .nav-tabs {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
  }
  
  .nav-tabs .nav-link {
    color: var(--barca-blue); 
    background-color: transparent;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--barca-red);
  }

  .nav-tabs .nav-link:hover {
    color: #fff;
    background-color: var(--barca-hover); 
  }
  .nav-tabs .nav-link:last-child {
    margin-right: 0;
  }
  
  .form-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-top: 15px;
    text-align: center;
    color: var(--barca-blue);
  }
  
  .form-control {
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .btn {
    border-radius: 5px;
    background-color: var(--barca-blue);
    color: #fff;
  }
  
  .btn:hover {
    background-color: var(--barca-hover);
  }
  
  .container {
    max-width: 500px;
    margin: auto;
  }
  